.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff; /* 标签颜色改为白色 */
}

.form-input, .form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    font-size: 16px;
}

.form-input:focus, .form-select:focus {
    border-color: #007bff;
    outline: none;
}

.form-select {
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    background-color: white;
    background-size: 12px;
}

.form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.form-button:hover {
    background-color: #0056b3;
}

.result-data {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #333; /* 背景颜色改为黑色 */
    color: black; /* 文字颜色改为白色 */
    max-height: 300px; /* 设置最大高度 */
    overflow: auto; /* 启用滚动条 */
    text-align: left; /* 内容左对齐 */
}

.result-data h3 {
    margin-top: 0;
    font-size: 18px;
    text-align: left; /* 标题左对齐 */
}

.result-data pre {
    margin: 5px 0;
    font-size: 16px;
    background-color: #444; /* 更深的背景颜色 */
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap; /* 自动换行 */
    word-wrap: break-word; /* 自动换行 */
    text-align: left; /* 内容左对齐 */
}

.error-message {
    color: red;
    font-size: 14px;
}
